<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926397185929-leo12r8gvj1r7rm6ndb9g86gsmk3eckv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926397185929-leo12r8gvj1r7rm6ndb9g86gsmk3eckv</string>
	<key>API_KEY</key>
	<string>AIzaSyBZGcNPcS-ZHsewihxnVrOoFzCtXPOfuPk</string>
	<key>GCM_SENDER_ID</key>
	<string>926397185929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WorldWideFoodies.InnerPeas</string>
	<key>PROJECT_ID</key>
	<string>innerpeas-7fee4</string>
	<key>STORAGE_BUCKET</key>
	<string>innerpeas-7fee4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926397185929:ios:68ac2cdcd5691a87596b58</string>
	<key>DATABASE_URL</key>
	<string>https://innerpeas-7fee4-default-rtdb.firebaseio.com</string>
</dict>
</plist>